* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    margin-left: auto;
    margin-right: auto;
}

#frame, #circle {
    background-color: red;
}

#circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#card {
    text-align: center;
    background-color: white;
    color: red;
}

#card h1 {
    padding-top: 25px;
    font-size: 150%;
    font-weight: normal;
}

#circle{
    margin: 40px auto;
    box-shadow: -2px 6px 15px 0px rgba(0,0,0,0.79);
}


input, button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 75%;
    padding: 5px;
    margin-bottom: 25px;
    border-top: none;
    border-right: none;
    border-left: none;
}

#login, #signup {
    width: 75%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 4px 11px -3px #000000;
}

#login {
    background-color: red;
    color: white;
    margin-bottom: 25px;
}

#signup {
    background-color: white;
    color: red;
    margin-bottom: 45px;
}

#forgot-password {
    text-decoration: none;
    color: red;
}

@media screen and (max-width: 767px) {
    #frame, #text-intro {
        visibility: hidden;
    }
    
    #frame #card {
        visibility: visible;
    }
}

@media screen and (min-width: 768px) {
    #frame {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        height: 500px;
        margin: 10% auto;
        color: white;
        border-radius: 10px;
        box-shadow: -2px 6px 15px 0px rgba(0,0,0,0.79);
    }
    
    #text-intro h1, #text-intro p {
        margin-left: 75px;
    }

    #text-intro h1 {
        padding-top: 100px;
    }

    #material {
        padding-top: 10px;
    }

    #credits {
        padding-top: 250px;
    }

    #card {
        width: 75%;
        position: relative;
        top: -7%;
        height: 600px;
        box-shadow: -2px 6px 15px 0px rgba(0,0,0,0.79);
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
}